{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {% if error %}
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <form method="post" action="{{ path('app_login') }}">
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" autocomplete="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="_password" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Log in</button>
    </form>
{% endblock %}
