{% if operation.supplier %}
    <li class="flex items-start justify-between py-2.5 gap-3">
        <dt class="text-[12px] text-content-500 shrink-0">Dostawca</dt>
        <dd class="text-[12.5px] text-content-50 text-right">{{ operation.supplier }}</dd>
    </li>
{% endif %}
{% if operation.invoiceNumber %}
    <li class="flex items-start justify-between py-2.5 gap-3">
        <dt class="text-[12px] text-content-500 shrink-0">Nr faktury / WZ</dt>
        <dd class="text-[12.5px] text-content-50 font-mono text-right">{{ operation.invoiceNumber }}</dd>
    </li>
{% endif %}
{% if operation.deliveryDate %}
    <li class="flex items-start justify-between py-2.5 gap-3">
        <dt class="text-[12px] text-content-500 shrink-0">Data dostawy</dt>
        <dd class="text-[12.5px] text-content-50 text-right">{{ operation.deliveryDate|date('d.m.Y') }}</dd>
    </li>
{% endif %}
{% if operation.transport %}
    <li class="flex items-start justify-between py-2.5 gap-3">
        <dt class="text-[12px] text-content-500 shrink-0">Transport</dt>
        <dd class="text-[12.5px] text-content-50 text-right">{{ operation.transport }}</dd>
    </li>
{% endif %}
