{% extends 'layout/app.html.twig' %}

{% block title %}Pulpit — RimFlowMS{% endblock %}

{% block breadcrumb_current %}Pulpit{% endblock %}

{% block content %}
<div class="flex items-center justify-between mb-6">
    <div>
        <h1 class="text-[22px] font-semibold tracking-tight text-content-50 mb-1">Pulpit magazynu</h1>
        <p class="text-content-500 text-[13px]">Magazyn główny B-1, Bytom</p>
    </div>
</div>

{% include 'product/list.html.twig' %}
{% endblock %}
